*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    color: rgb(192, 187, 187);
    padding: 1.4375rem 6.25rem;
}

.logo, .header-links{
    cursor: pointer;
}

/*THIS IS THE FIRST SECTION*/
.first-section{
    background-image: url("https://i.postimg.cc/hjSbtSHN/image1.jpg");
    background-size: cover;
}
.text-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 18rem 1.5rem 6.5rem 3.5rem;
    width: 60%;
    color: #fff;
}

.text-section h5{
    font-weight: 50;
    letter-spacing: .45rem;
    font-size: 3rem;
}

.first-section .text-section h2{
    font-weight: 800;
    font-size: 6.3rem;
}
.first-section .text-section .underline1{
    border-bottom: .625rem solid white;
    width: 38rem;
    margin-top: .625rem;
}
.first-section .first-icon{
    display: flex;
    width: 100%;
    flex-direction: row;
    color: #fff;
    padding: 0rem 10rem 5rem 0rem;
}
.first-section .first-icon .icon{
    padding: 0 3.75rem;
}
.first-section .first-icon .icon img{
    height: 6.5rem;
}
.first-section .first-icon .icon p{
    letter-spacing: .125rem;
}

/* THIS IS THE SECOND SECTION */
.second-section{
    display: flex;
    background-color: #f8f4f4f8;
    width: 100%;
    flex-direction: column;
    padding-top: 8.3rem;
    padding-bottom: 2rem;
    text-align: center;
}
.second-section #text1{
    color: grey;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    padding-bottom: .9rem;   
}
.second-section #text2{
    font-size: 3rem;
    padding-bottom: .9rem;
}
.second-section #text3{
    font-size: 1.25rem;
    font-weight: 300;
    width: 48.75rem;
    margin: 1.875rem auto 0;
    color: #111111;
    padding-bottom: .9rem;
    text-align: center;
}
.second-section button{
    color: #ffffff;
    background-color: #e71a23;
    border-width: 0;
    flex-shrink: 0;
    cursor: pointer;
    text-align: center;
    border-radius: .1875rem;
    letter-spacing: .0625rem;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 1.25rem 2.1875rem;
    margin: 1.875rem auto 3.75rem;
}

/* THIS IS THE THIRD SECTION */
.third-section{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.third-section .img1-text1{
    width: 50%;
    margin-top: 3.125rem;
    margin-left: 17%;
    margin-bottom: 1.25rem;
}
.third-section .img1-text1 p{
    margin: 3.875rem;
    letter-spacing: .05125rem;    
}
.third-section .img2-text2{
    width: 50%;
    margin-right: 13.5%;   
}
.third-section .img2-text2 h2{
    padding-top: 4.875rem;
    font-size: 2.2rem;
}
.third-section .img2-text2 h3{
    color: #e71a23;
    font-size: 1.8rem;
}
.third-section .img2-text2 img{
    margin: 3rem 0;
}
/* THIS IS THE FORTH SECTION */

.forth-section{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgba(223, 222, 222, 0.925);
}
.forth-section .image-section{
    width: 50%;
    padding-left: 13.25rem;
    padding-top: .625rem;
}
.forth-section .image-section img{
    height: 43.75rem;
}
.forth-section .text-section2{
    width: 50%;
    margin-top: 13.25rem ;
    margin-right: 11.25rem;
    margin-left: 2.5rem;  
}
.forth-section .text-section2 h2{
    color: #104e92;
    font-size: 4.5rem;
    font-weight: 700;
}
.forth-section .text-section2 .underline2{
    border-bottom: .625rem solid red;
    width: 100%;
    margin: 1.5625rem 0;
}
.forth-section .text-section2 p{
    font-size: 1.25rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    margin-right: 2.5rem;
    line-height: 1.8125rem;
    letter-spacing: .084375rem;   
}
.forth-section .text-section2 button{
    color: #ffffff;
    background-color: #e71a23;
    border-width: 0;
    flex-shrink: 0;
    cursor: pointer;
    text-align: center;
    border-radius: .1875rem;
    letter-spacing: .0625rem;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 1.25rem 2.1875rem;
}

/*THIS IS THE FIFTH SECTION*/
.fifth-section{
    display: flex;
    width: 100%;
    flex-direction: column; 
}
.fifth-section h2{
    font-size: 3rem;
    margin: 3.125rem 12.5rem 1.875rem 13.75rem;
}
.fifth-section .major-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-self: center;
    width: 80%;
    gap: 5%;
    padding: 0 5rem;
    margin: 0 1.625rem;
}

.fifth-section .major-container .container{
    text-align: justify;   
}
.fifth-section .major-container .container .image1{
    width: 20%;
    height: 20%;  
}
.fifth-section .major-container .container  img{
    background-color: #e71a23;
    padding: 1.0625rem;
    margin: .625rem;
    border-radius: 50%; 
    line-height: 0;
    border-width: 0;    
}
.fifth-section .major-container .container h5{
    font-size: 1.5rem;
    padding: .625rem 0 .9375rem .325rem;
}
.fifth-section .major-container .container p{
    font-size: 1.125rem;
    font-weight: 0.2%;
    color: #111111e0;
    font-style: italic;
    margin: 1.25rem 0 3rem 0;
}

/*THIS IS THE SIXTH SECTION*/
.sixth-section{
    display: flex;
    width: 100%;
    flex-direction: row;
    color: #ffffff;
    background-color: #104e92;
    align-items: center;
}
.sixth-section .text-row{
    display: flex;
    width: 100%;
    flex-direction:column;
    width: 50%;
    text-align: left;
    padding-left: 14.925rem;
}
.sixth-section .text-row h6{
    letter-spacing: .125rem;
    font-weight: 100;
    font-size: 1.625rem;
    line-height: 1.2;
}
.sixth-section .text-row h3{
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;   
}
.sixth-section .img-column{
    display: flex;
    width: 100%;
    flex-direction: row;
    width: 50%;
    margin: 6.125rem;
}
.sixth-section .img-column .image-form img{
    height: 11.25rem;
    width: 15.625rem;
    padding: .625rem .8125rem;
}

/*THIS IS THE SEVENTH SECTION*/
.seventh-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    padding: 7rem 0 4rem 0 ; 
}
.seventh-section .center-form{
    margin-left: 2.4rem;
}
.seventh-section .center-form h3{
    font-size: 2.25rem;
    margin: 0 19rem;
    line-height: 1.1;
    font-weight: 700;

}
.seventh-section .center-form p{
    color: #111111;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 10;
    margin: 1.5rem 26rem;
   
}
.seventh-section .center-form .button-red-white{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0;
    gap: 1.25rem;
    padding: 0 0 0 35rem;
}

.red-button{
    color: #ffffff;
    background-color: #e71a23;
    border-width: 0;
    flex-shrink: 0;
    cursor: pointer;
    text-align: center;
    border-radius: .1875rem;
    letter-spacing: .0625rem;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 1.25rem 2.1875rem;
}

.white-button{
    border-color: #454545;
    color: #454545;
    background-color: transparent;
    border-width: .0625rem;
    flex-shrink: 0;
    cursor: pointer;
    text-align: center;
    border-radius: .1875rem;
    letter-spacing: .0625rem;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 1.25rem 2.1875rem;
}

/*THIS IS THE FOOTER SECTION*/
footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    background-color: #333333;
}
footer p{
    margin: 3rem 0;
}
footer p em{
    color: #7c1a4e;
}

/* Medium devices (tablets, less than 768px) */
@media (max-width: 768.98px) {

    /*HEADER*/
    header{
        padding: 1.5625rem 2.8125rem;
    }
    .logo img,.header-links img{
        height: 1.875rem;
    }

    /*THIS IS THE FIRST SECTION*/
    .first-section .text-section{
        padding: 12.5rem 1.875rem 3.125rem 1.875rem;
    }
    .first-section .text-section h5{
        font-size: 2.85rem;
        letter-spacing: .1875rem;
    }
    .first-section .text-section h2{
        font-size: 4.5rem;
        letter-spacing: .1875rem;
    }
    .first-section .text-section .underline1{
        width: 28rem;
    }

    .first-section .first-icon{
        padding: 0rem 10rem 5rem 0rem;
    }
    .first-section .first-icon .icon{
        padding: 0 1.95rem;
    }
    .first-section .first-icon .icon img{
        height: 4.2rem;
    }
    .first-section .first-icon .icon p{
        letter-spacing: .09375rem;
    }

    /*THIS IS THE SECOND SECTION*/
    .second-section #text3{
        font-weight: 100;
        width: 43.75rem;
    }

    /*THIS IS THE THIRD SECTION*/
    .third-section{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .third-section .img1-text1 img{
        height: 23.75rem;
        width: 38.75rem;
        padding-right: 6.25rem;
    }
    .third-section .img1-text1 p{
        font-size: .9375rem;
        margin: 3.125rem 0 0 1.875rem;
        letter-spacing: .09375rem;
    }
    .third-section .img2-text2 img{
        height: 23.75rem;
        width: 36.875rem;
        padding-left: 3.75rem;
    }
    .third-section .img2-text2{
        width: 100%;
        padding-left: 3.9rem;
    }
    .third-section .img2-text2 h2,.third-section .img2-text2 h3{
        padding-left: 5.9375rem;
    }
    
    /*THIS IS THE FORTH SECTION*/
    .forth-section .image-section{
        padding-left: 0rem;
    }
    .forth-section .image-section img{
        height: 35.63rem;
        width: 25rem; 
    }
    .forth-section .text-section2{
        margin: 135px 0 0 ; 
        padding-left: 1.625rem;
    }
    .forth-section .text-section2 h2{
        width: 40%;
        font-size: 3.15rem;
        font-weight: 700;
        line-height: 1.1;
    }
    .forth-section .text-section2 .underline2{
        width: 80%;
    }
    .forth-section .text-section2 p{
        font-size: 1.25rem;
        line-height: 1.8125rem;
        letter-spacing: 0rem;   
    }

    /*THIS IS THE FIFTH SECTION*/
    .fifth-section h2{
        margin: 3.125rem 0 1.875rem 4.375rem;
    }
    .fifth-section .major-container{
        width: 100%;
        gap: 10%;
    }
    .fifth-section .major-container .container{
        text-align:left;  
    }
    .fifth-section .major-container .container .image1{
        width: 20%;
        height: 20%;  
    }
    .fifth-section .major-container .container p{
        font-size: 1.15rem;
        letter-spacing: .0625rem;
        line-height: 1.5625rem;
    }

    /*THIS IS THE SIXTH SECTION*/
    .sixth-section{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .sixth-section .text-row{
        width: 100%;
        text-align: left;
        padding: 3rem 4rem 0;
    }
    .sixth-section .text-row h6{
        font-size: 1.6rem;
    }
    .sixth-section .text-row h3{
        font-size: 4rem;
    }
    .sixth-section .img-column{
        width: 96%;
        margin: 1.875rem;
    }
    .sixth-section .img-column .image-form img{
        height: 18.75rem;
        width: 23.125rem;
    }

    /*THIS IS THE SEVENTH SECTION*/
.seventh-section .center-form{
    padding: 0;
    margin: 0;
}
.seventh-section .center-form h3{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;

}
.seventh-section .center-form p{
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 0;
    margin: 1.5rem 0rem;
    padding: 0 10rem 0 10rem ;
   
}
.seventh-section .center-form .button-red-white{
    margin: 0;
    gap: 1.25rem;
    padding: 0 15rem;
}

}

/* Small devices (landscape phones, less than 476px) */
@media (max-width: 475.98px) {

    /*THIS IS THE FIRST SECTION*/
    .first-section{
        background-image: url("https://i.postimg.cc/dQBPYD8G/background-Imagemobile.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .first-section .text-section{
        width: 100%;
        padding: 31.25rem 0rem 1.25rem .4375rem;

    }
    .first-section .text-section h5{
        font-size: 2rem;
        letter-spacing: .15625rem;
        
    }
    .first-section .text-section h2{
        font-size: 3rem;
        letter-spacing: .1875rem;
    }
    .first-section .text-section .underline1{
        width: 19rem;
    }

    .first-section .first-icon{
        display: none;
    }

    /* THIS IS THE SECOND SECTION */
  
    .second-section #text3{
        font-weight: 100;
        width: 20rem; 
        padding: 0;
    }
    .second-section button{
        margin: 1.875rem auto 3.75rem;
    }

    /* THIS IS THE THIRD SECTION */
    .third-section{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .third-section .img1-text1 img{
        height: 11.25rem;
        width: 14.375rem;
        padding-right: .5625rem;
    }
    .third-section .img1-text1 p{
        font-size: .625rem;
        letter-spacing: .075rem;
        margin: 2.5rem 0rem 0rem .3125rem;
    }
    .third-section .img2-text2{
        width: 100%;
        padding-left: 0rem;
    }
    .third-section .img2-text2 img{
        height: 14.375rem;
        width: 17.5rem;
        padding:0 0 0 2.1875rem;
        margin: 1.25rem 0;
    }
    
    .third-section .img2-text2 h2,.third-section .img2-text2 h3{
        font-size: 1.25rem;
        padding: 0 0 .625rem 3.125rem;
    }
     /* THIS IS THE FORTH SECTION */
     .forth-section{
        display: flex;
        width: 100%;
        flex-direction: column;
        
     }
     .forth-section .image-section{
        width: 100%;
        padding: 0 0 0 1.27rem;
    }
    .forth-section .image-section img{
        height: 28.125rem;
        width: 18.75rem;  
    }
    .forth-section .text-section2{
        width: 95%;
        align-items: center;
        padding:0 0 1.875rem 2.5rem;
    }

     /*THIS IS THE FIFTH SECTION*/
     .fifth-section h2{
        font-size: 2.5rem;
        margin: 3.125rem 0 1.875rem 1.65rem;
    }
    .fifth-section .major-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-self: flex-start;
        width: 80%;
        gap: 10%;
        padding: 0 1rem 3rem 1rem;
        margin: 0 0.25rem;
    }

    /*THIS IS THE SIXTH SECTION*/
    .sixth-section{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .sixth-section .text-row{
        width: 100%;
        text-align: left;
        padding: 2.625rem 3rem 1.6rem 2.5rem ;
        
    }
    .sixth-section .text-row h3{
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1;   
    }
    .sixth-section .img-column{
        display: flex;
        width: 100%;
        flex-direction: column;
        width: 90%;
        margin: 2.125rem 2rem;
    }
    .sixth-section .img-column .image-form img{
        height: 13.75rem;
        width: 18.875rem;
        padding: .625rem .6875rem;
    }
    
    /*THIS IS THE SEVENTH SECTION*/
    .seventh-section{
        padding: 0;
        margin: 0;   
    }
    .seventh-section .center-form{
        margin-left: 0;
        padding:0 ;
    }
    .seventh-section .center-form h3{
        font-size: 1.8rem;
        margin: 3rem 1rem 2rem 1rem;
        line-height: 1;
        font-weight: 700;
    }
    .seventh-section .center-form p{
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 10;
        margin: 1rem;
        padding: .625rem;
    }
    .seventh-section .center-form .button-red-white{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
        gap: 1.5rem;
        padding: .935rem 5rem;
    }

}
